{%- if settings.card_show_sale and product.compare_at_price and product.compare_at_price != blank and product.compare_at_price > product.price -%}
  <div class="sale-tag">{{ 'products.sale' | t | default: 'Sale' }}</div>
{%- endif -%}
